@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

.App {
  text-align: center;
  color: rgb(37, 37, 37);
  min-height: 100vh;
  font-family: "Poppins", "Pretendard-Regular";
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
