.LoginPage {
  text-align: center;
  background-color: #e9e9e9;
  color: rgb(37, 37, 37);
  min-height: 100vh;
}

.LoginBox {
  width: 500px;
  height: 500px;
  /* border: 1px solid rgb(199, 199, 199); */
  border: none;
  border-radius: 10px;
  background-color: #e9e9e9;
  margin: auto;
  padding-top: 100px;
}

.LoginBox input {
  width: 300px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
  outline-width: 1px;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  text-decoration: none;
  margin-bottom: 2vh;
  box-sizing: border-box;
  padding: 0px 2vh 0px 2vh;
  display: block;
}

.LoginPage .loginBtn {
  width: 300px;
  height: 50px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 1000;
  outline-width: 1px;
  border: none;
  background: rgb(71, 71, 71);
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  margin-bottom: 1vh;
  margin-top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(250, 250, 250);
  transition-duration: 100ms;
  display: block;
}

.LoginPage .loginBtn:hover {
  background-color: rgb(137, 137, 137);
  transition-duration: 100ms;
}

.LoginPage .Logo {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  cursor: pointer;
}
