.LoginPage {
  text-align: center;
  background-color: #ffffff;
  color: rgb(37, 37, 37);
  height: 100vh;
  text-decoration: none;
}

.LoginBox {
  /* border: 1px solid rgb(199, 199, 199); */
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  margin: auto;
  padding-top: 24vh;
}

.LoginBox input {
  width: 300px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 200;
  outline-width: 1px;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(255, 255, 255);
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  text-decoration: none;
  margin-bottom: 18px;
  box-sizing: border-box;
  padding: 0px 18px 0px 18px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.1);
  display: block;
}

.LoginPage .loginBtn {
  width: 300px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 1000;
  outline-width: 1px;
  border: none;
  background: #498fdd;
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  margin-bottom: 18px;
  margin-top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(250, 250, 250);
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.1);
  transition-duration: 100ms;
  display: block;
}

.LoginPage .loginBtn:hover {
  background-color: #509aee;
  transition-duration: 100ms;
}

.LoginPage .signup {
  width: 300px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  outline-width: 1px;
  border: 1px solid #498fdd;
  background: #ffffff;
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  margin-bottom: 1vh;
  margin-top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  color: #498fdd;
  transition-duration: 100ms;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  display: block;
}

.LoginPage .signup:hover {
  transition-duration: 100ms;
  color: #78a7dd;
}

.LoginPage .Logo {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  /* color: #f57c86; */
  color: #686868;
}
