.RightMenu {
  position: fixed;
  margin-top: 66px;
  z-index: 0;
  width: 100vw;
  transform: translateX(647px);
}

.RightMenu .box {
  width: 300px;
  margin: auto;
  height: 100vh;
}

.RightMenu .container {
  width: 240px;
  height: 500px;
  background-color: #f5f5f5;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}
