.SideMenu {
  position: fixed;
  width: 340px;
  height: 100vh;
  margin-left: calc(100vw - 340px);
  background-color: #ffffff;
  border-left: 1px solid #d0d0d0;
}

.SideMenu .Logo {
  margin: 50px 0px 50px 0px;
  font-weight: 600;
  color: #f01d5c;
  font-size: 24px;
}

.StudentLogin {
  width: 300px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  outline-width: 1px;
  border: none;
  background: #f01d5c;
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  margin-bottom: 4px;
  margin-top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  color: rgb(250, 250, 250);
  transition-duration: 100ms;
  display: block;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.1);
}

.StudentLogin:hover {
  background-color: #509aee;
  transition-duration: 100ms;
}

.ElseLogin {
  width: 300px;
  height: 40px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  outline-width: 1px;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  letter-spacing: 0.4px;
  line-height: 2.4vh;
  margin-bottom: 4px;
  margin-top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  color: #363636;
  transition-duration: 100ms;
  display: block;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.1);
}

.ElseLogin:hover {
  color: #a8a8a8;
  transition-duration: 100ms;
}

.TopArea {
  padding-bottom: 50px;
  border-bottom: 1px solid #d0d0d0;
}
