.Teacher {
  position: fixed;
  color: #363636;
  width: 100vw;
}

.Teacher .topArea {
  padding-top: 30px;
  padding-bottom: 46px;
  padding-left: 6vw;
  padding-right: 6vw;
  border-bottom: 1px solid #d0d0d0;
  background-color: white;
  /* margin-bottom: 30px; */
}

.Teacher .topArea .logo {
  font-weight: 600;
  color: #498fdd;
  font-size: 16px;
  float: left;
}

.Teacher .topArea .pageInfo {
  margin-left: 16px;
  font-weight: 300;
  color: #363636;
  font-size: 16px;
  float: left;
}

.Teacher .hello {
  float: right;
  font-size: 16px;
}

.Teacher .hello a {
  color: #498fdd;
  font-weight: 600;
}
