.TeacherSideMenu {
  position: fixed;
  margin-top: 77px;
  z-index: -1;
  width: 70vw;
}

.TeacherSideMenu .box {
  width: 1000px;

  margin: auto;
  height: 100vh;
  overflow-y: scroll;
  border-right: 1px solid #d0d0d0;
}

.TeacherSideMenu .box::-webkit-scrollbar {
  width: 0px;
}

.TeacherSideMenu .box #profileImg {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.3);
}

.TeacherSideMenu .info {
  width: 1000px;
  margin-right: 300px;

  height: calc(150vh - 100px);
  padding-top: 50px;
  background-color: #fdfdfd;
}

.TeacherSideMenu .info .name {
  font-weight: 600;
  margin: 10px;
  font-size: 16px;
  color: #363636;
}

.TeacherSideMenu .info .introduce {
  font-size: 14px;
  color: #686868;
}

.TeacherSideMenu .info .follow {
  margin: auto;
  margin-top: 20px;
  width: 80px;
  padding: 5px;
  border-radius: 50px;
  background-color: #f01d5c;
  color: white;
  transition-duration: 100ms;
  font-size: 16px;
}

.TeacherSideMenu .info .profile {
  padding-bottom: 50px;
  border-bottom: 1px solid #d0d0d0;
  transition-duration: 200ms;
}

.TeacherSideMenu .info .follow:hover {
  transition-duration: 200ms;
  background-color: #f189a8;
  cursor: pointer;
}

.TeacherSideMenu .Menu {
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
}

.TeacherSideMenu .MenuButton {
  padding: 6px;
  border-radius: 10px;
}

.TeacherSideMenu .MenuButton:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
