.Teacher {
  position: fixed;
  z-index: 9999;

  color: #363636;
  width: 100vw;
}

.Teacher .topArea {
  padding-top: 30px;
  padding-bottom: 46px;
  border-bottom: 1px solid #d0d0d0;

  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  text-align: center;
}

.Teacher .topArea .logo {
  font-weight: 800;
  color: #f01d5c;
  font-size: 16px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 900px;
}

.Teacher .topArea .pageInfo {
  font-weight: 600;
  color: #363636;
  font-size: 16px;
  position: absolute;
  margin: auto;
  left: 0px;
  right: 750px;
}

.Teacher .hello {
  font-size: 16px;
  position: absolute;
  margin: auto;
  left: 800px;
  right: 0;
}

.Teacher .hello a {
  color: #f01d5c;
  font-weight: 600;
}
