.TeacherSideMenu {
  position: fixed;
  margin-top: 77px;
  z-index: 0;
  width: 100vw;
  transform: translateX(-655px);
}

.TeacherSideMenu .box {
  width: 300px;
  margin: auto;
  height: 100vh;
  overflow-y: scroll;
}

.TeacherSideMenu .box::-webkit-scrollbar {
  width: 0px;
}

.TeacherSideMenu .box #profileImg {
  float: left;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.3);
}

.TeacherSideMenu .info {
  width: 300px;
  margin-right: 300px;

  padding-top: 14px;
  background-color: #fdfdfd;
}

.TeacherSideMenu .info .name {
  font-weight: 600;
  margin: 10px;
  margin-left: 20px;
  font-size: 18px;
  color: #363636;
  float: left;
}

.TeacherSideMenu .info .introduce {
  font-size: 14px;
  color: #686868;
}

.TeacherSideMenu .info .follow {
  margin: auto;
  margin-top: 20px;
  width: 80px;
  padding: 5px;
  border-radius: 50px;
  background-color: #474b77;
  color: white;
  transition-duration: 100ms;
  font-size: 16px;
}

.TeacherSideMenu .info .profile {
  height: 40px;
  transition-duration: 200ms;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.TeacherSideMenu .info .profile:hover {
  background-color: #f5f5f5;
}

.TeacherSideMenu .info .follow:hover {
  transition-duration: 200ms;
  background-color: #5f659e;
  cursor: pointer;
}

.TeacherSideMenu .Menu {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.TeacherSideMenu .MenuButton {
  padding: 16px;
  border-radius: 40px;
}

.TeacherSideMenu .MenuButton:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
