.TeacherContent {
  background-color: #f5f5f5;
  height: max(1300px, 100vh);
  padding-left: 351px;
  color: #363636;
}

.TeacherContent .paddingBox {
  margin: auto;
  height: 76px;
}

.TeacherContent .cardContainer {
  width: 450px;
  height: 250px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  border-radius: 10px;
}

.TeacherContent .card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.TeacherContent .card:hover {
  transform: perspective(600px) rotateY(180deg);
}

.TeacherContent .cardFront {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: white;
  background-image: url("../public/img/card_front.png");
  color: white;
  transform: perspective(600px) rotateY(0deg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(61, 61, 61, 0.6);
}

.TeacherContent .cardFront #logo {
  padding-top: 90px;
  font-size: 36px;
  font-family: "Nanum Myeongjo", serif;
}

.TeacherContent .cardFront #name {
  font-size: 14px;
  letter-spacing: 4px;
  font-family: "Nanum Myeongjo", serif;
}

.TeacherContent .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-image: url("../public/img/card_back.png");

  color: #363636;
  transform: perspective(600px) rotateY(180deg);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  text-align: left;
}

.TeacherContent .cardBack #logo {
  float: right;
  padding: 40px;
  font-size: 40px;
  color: #d5d5d5;
  font-family: "Nanum Myeongjo", serif;
}

.TeacherContent .cardBack #nameKor {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 6px;
  margin-left: 0px;
  padding-left: 40px;
  padding-top: 40px;
}

.TeacherContent .cardBack #nameKor a {
  font-family: "Roboto", sans-serif;
  color: #f01d5c;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-left: 0px;
  padding-left: 4px;
}

.TeacherContent .cardBack #nameEng {
  padding-left: 40px;
  font-size: 12px;
  font-weight: 500;
}

.TeacherContent .cardBack #describe {
  padding-left: 40px;
  font-size: 12px;
  font-weight: 500;
  padding-top: 20px;
}

.TeacherContent .cardBack hr {
  margin: auto;
  width: 370px;
  margin-top: 30px;
  background-color: #f01d5c;
}

.TeacherContent .teacherInfo {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 700px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding: 30px;
  text-align: left;
}

.TeacherContent img {
  width: 150px;
  height: 150px;
  float: left;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.TeacherContent .teacherInfo .name {
  font-weight: 600;
  font-size: 20px;
}

.TeacherContent .teacherInfo .job {
  color: #f01d5c;

  font-size: 14px;
  margin-bottom: 20px;
}

.TeacherContent .about {
  font-size: 18px;
  font-weight: 600;
}

.TeacherContent .testContainer {
  width: 760px;
  height: 300px;
  margin: auto;
}

.TeacherContent .zoomCode {
  margin-bottom: 50px;
  width: 240px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  text-align: left;
  float: left;
  padding: 20px 30px;
  overflow-y: scroll;
}

.TeacherContent .zoomCode::-webkit-scrollbar {
  width: 8px;
}

.TeacherContent .zoomCode::-webkit-scrollbar-thumb {
  background: #b8b8b8;
  border-radius: 4px;
}

.TeacherContent .zoomCode::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  width: 10px;
}

.TeacherContent .cardName {
  font-size: 18px;
  color: #363636;
  font-weight: 600;
  margin-bottom: 16px;
  background-color: white;
}

.TeacherContent .zoomCardName {
  font-size: 18px;
  color: #363636;
  font-weight: 600;
  margin-bottom: 16px;
  position: fixed;
  background-color: white;
  width: 240px;
  height: 40px;
  margin-top: -20px;
  padding-top: 20px;
}

#zoomIcon {
  fill: #363636;
  width: 60px;
  float: left;
  margin-top: -16px;
  z-index: 1;
  background: transparent;
  margin-right: 6px;
}

hr {
  width: 100%;
  border: 0;
  background-color: #686868;
  height: 1px;
}

.TeacherContent .zoomCode .lesson {
  margin-top: 20px;
  background-color: #f01d5c;
  padding: 10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  color: white;
}

.TeacherContent .zoomCode .lessonName {
  font-weight: 600;
  font-size: 18px;
}

.TeacherContent .zoomCode .lessonCode {
  font-size: 14px;
}

#zoomHr {
  background-color: white;
}

.TeacherContent .testBox1 {
  margin-bottom: 50px;
  width: 300px;
  height: 510px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  text-align: left;
  float: left;
}

.TeacherContent .testBox2 {
  margin-bottom: 50px;
  width: 410px;
  height: 310px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  text-align: left;
  float: right;
}

/* Teacher Details */
.TeacherContent .teacherDetails {
  width: 350px;
  background-color: white;
  height: 400px;
  float: right;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.2);
  margin-bottom: 50px;
  padding: 20px 30px;
  text-align: left;
}

.TeacherContent .detailsContainerLeft {
  float: left;
  width: 49%;
  height: 317px;
}

.TeacherContent .detailsContainerRight {
  float: right;
  width: 49%;
  height: 317px;
}

.teacherDetails .detailsName {
  font-weight: 600;
  font-size: 14px;
}

.teacherDetails .detailsDesc {
  font-size: 14px;
  margin-bottom: 50px;
}
